* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.header {
  width: 1400px;
  max-width: 100%;
  margin: auto;
  background: #0c177d;
  background: linear-gradient(215deg, #0c177d 39%, #0f1796 63%, #1e26fc 100%);
}
.header nav {
  display: flex;
  align-items: center;
}
.header nav .header-logo {
  width: 100px;
  padding: 10px;
}
.header nav .header-logo img {
  width: 100%;
}
.header nav .nav-bar {
  padding-left: 30px;
}
.header nav .nav-bar li {
  display: inline-block;
  padding: 0 10px;
}
.header nav .nav-bar li a {
  position: relative;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  font-family: cursive;
}
.header nav .header-btn {
  margin-left: auto;
  margin-right: 100px;
}
.header nav .header-btn a {
  color: white;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  text-transform: uppercase;
  background-color: #ff004c;
  font-family: cursive;
}
.header nav .header-dots {
  padding: 45px;
  font-size: 20px;
  background-color: blue;
  color: white;
}
.header section {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.header section .arrow-left {
  color: white;
  position: absolute;
  font-size: 30px;
  left: 30px;
  top: 145px;
}
.header section .arrow-right {
  color: white;
  position: absolute;
  font-size: 30px;
  right: 30px;
  top: 145px;
}

.header section ul {
  position: absolute;
  right: 40px;
  bottom: 80px;
}
.header section ul li {
  margin-top: 30px;
}
.header section ul li a {
  color: white;
}

.header section .section-left {
  font-family: sans-serif;
  width: 35%;
  color: white;
  padding-top: 100px;
}
.header section .section-left .section-title h1 {
  font-size: 40px;
}
.header section .section-left .section-title p {
  padding: 10px 0 40px 0;
}
.header section .section-left .section-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header section .section-left .section-body .section-p {
  padding: 20px 0;
  width: 100%;
}
.header section .section-left .section-body .section-p p {
  width: 60%;
  color: grey;
  font-weight: bold;
  font-size: 12px;
}
.header section .section-left .section-body h2 {
  width: 100%;
  padding: 10px 0;
}
.header section .section-left .section-body .cont {
  background-color: #0066ff;
  width: 50px;
  height: 100px;
  padding: 5px;
  font-size: 12px;
  border-radius: 22px;
}
.header section .section-left .section-body .cont .bot {
  display: inline-block;
  margin-top: 25px;
}
.header section .section-left .section-body .cont .cont-in {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: #01013f;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 16px;
}
.header section .section-left .section-body .sec-btn {
  padding-bottom: 100px;
}
.header section .section-left .section-body .sec-btn a {
  display: inline-block;
  padding: 5px 50px;
  color: white;
  background-color: #ff0037;
  border-radius: 10px;
  text-transform: uppercase;
}
.header section .section-right {
  width: 20%;
  padding-top: 120px;
  display: flex;
}
.header section .section-right .sec-right-img {
  position: relative;
  width: 90%;
}
.header section .section-right .sec-right-img::after {
  content: "";
  padding: 60px;
  border: 15px solid red;
  border-radius: 100%;
  position: absolute;
  top: -70px;
  left: -40px;
}
.header section .section-right .sec-right-img img {
  width: 70%;
  position: relative;
  transform: rotate(10deg);
  z-index: 999999;
}

@media (max-width: 800px) {
  .header nav {
    flex-direction: column;
    justify-content: center;
  }
  .nav-bar {
    display: block;
    margin: auto;
  }
  .nav-bar ul {
    margin: auto;
    width: 50%;
    padding: 10px 0;
  }
  .nav-bar li {
    width: 100%;
    text-align: center;
  }

  .header nav .header-btn {
    margin-right: 0px;
    margin: auto;
    padding: 10px 0;
  }
  .header-dots {
    display: none;
  }
  .header section .section-right .sec-right-img::after {
    display: none;
  }
  section {
    flex-direction: column;
    align-items: center;
  }
  .header section .section-left {
    width: 50%;
    padding-top: 30px;
  }
  .header section .section-left .section-body .sec-btn {
    padding-bottom: 0;
  }
  .header section .section-right .sec-right-img {
    padding-top: 20px;
  }
  .header section .section-right {
    padding-top: 0px;
  }

  .header section ul {
    position: absolute;
    right: 30px;
    bottom: 20px;
  }
  .header section ul li {
    margin-top: 10px;
  }
}
