* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(56, 18, 117);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.3s ease-in;
  opacity: 1;
  z-index: 99999;
}

.navbar.scroll-down {
  opacity: 0;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.navbar-nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 20px;
}

section p {
  width: 40%;
  margin: auto;
  margin-top: 30px;
}

section {
  margin-top: 80px;
}

.content {
  background-color: rgb(245, 0, 82);
  width: 300px;
  height: 80px;
  border-radius: 30px;
  margin: 30px auto;
  text-align: center;
  padding-top: 30px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  overflow: hidden;
  position: relative;
  display: block;
  border: none;
}

.content span {
  cursor: arrow;
  z-index: 2;
  pointer-events: none;
}

.mouse__over {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(0, 0, 255);
  position: absolute;
  box-shadow: 0px 0px 50px 50px rgb(0, 0, 255);
  transition: all 0.1s ease;
  z-index: 1;
  top: 25%;
  left: 0;
  opacity: 0;
}

.button {
  position: relative;
  appearance: none;
  background: #f72359;
  padding: 1em 2em;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
}
