* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(56, 18, 117);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.3s ease-in;
  opacity: 1;
  z-index: 99999;
}

.navbar.scroll-down {
  opacity: 0;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.navbar-nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 20px;
}

section p {
  width: 40%;
  margin: auto;
  margin-top: 30px;
}

section {
  margin-top: 80px;
}

.content {
  background-color: rgb(245, 0, 82);
  width: 300px;
  height: 80px;
  border-radius: 30px;
  margin: 30px auto;
  text-align: center;
  padding-top: 30px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  overflow: hidden;
  position: relative;
  display: block;
  border: none;
}

.text__apear {
  margin: 30px auto;
  width: 15%;
  text-align: center;
  background-color: black;
  color: green;
  font-weight: bold;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 10px;
}

.content span {
  cursor: arrow;
  z-index: 3;
  pointer-events: none;
  position: relative;
}

.mouse__over {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(0, 0, 255);
  position: absolute;
  box-shadow: 0px 0px 50px 50px rgb(0, 0, 255);
  transition: all 0.1s ease-out;
  z-index: 1;
  top: 25%;
  left: 0;
  opacity: 0;
}

.btn__div {
  display: flex;
  width: 200px;
  height: 150px;
  margin: auto;
}

.trash__btn.active__btn {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px grey;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trash__btn.active__btn i {
  opacity: 0;
}

.trash__btn i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.trash__btn span,
.trash__btn a {
  opacity: 0;
  margin-bottom: 10px;
}

.trash__btn a {
  color: black;
  text-transform: capitalize;
  font-weight: bold;
  display: inline-block;
  color: white;
  background-color: rgb(255, 0, 106);
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
}

.trash__btn span {
  color: black;
  text-transform: capitalize;
  font-weight: bold;
}

.trash__btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: rgb(255, 0, 106);
  margin: auto;
  cursor: pointer;
  transition: all 1s ease-out;
  display: inline-block;
  position: relative;
}

.tog {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div__tog {
  margin-top: 20px;
  width: 200px;
  height: 100px;
  background-color: grey;
  padding: 10px;
  transition: all 0.6s ease-in-out;
}

.text__tog {
  color: white;
  transition: all 0.6s ease-in-out;
}

.tog__btn {
  padding: 5px;
  border: none;
  background-color: grey;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  margin-right: 100px;
  margin-top: 50px;
}
