h3 {
  color: rgb(28, 195, 224);
  font-weight: normal;
}
.article {
  margin-left: 27%;
  width: 40%;
  border: solid rgb(184, 184, 184);
  border-width: 1em;
  border-bottom: none;
  padding: 1em;
}
.borleft {
  border-left: rgb(184, 184, 184);
  border-left-style: solid;
  border-left-width: 0.5em;
  padding-left: 0.3em;
}
.borbottom {
  border-bottom: rgb(184, 184, 184);
  border-bottom-style: solid;
  padding-bottom: 0.8em;
}
