* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  width: 330px;
  height: 320px;
  margin: auto;
  margin-top: 30px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
}

.hover {
  width: 330px;
  height: 320px;
  position: absolute;
  display: flex;
  bottom: 0;
  border-radius: 10px;
  background-color: rgba(54, 52, 52, 0.815);

  transition: 250ms;
}

.hover-text {
  display: flex;
  margin-top: 15px;
}
.price-green > span {
  color: rgba(11, 170, 117, 0.863);
  font-weight: bold;
}
.hover-text > h2 {
  margin-left: 10px;
}
.hover-text > h3 {
  margin-left: 10px;
}
.hover-text > span {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 5px;
}

.hover-text-color {
  color: grey;
  margin-top: -5px;
}

.hover-text-color > span {
  background: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 0.8px),
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) calc(50% + 0.8px),
    rgba(0, 0, 0, 0) 100%
  );
}
hr {
  width: 70%;
  margin: auto;
  background-color: rgba(192, 188, 188, 0.938);
  margin-top: 5px;
}
section {
  position: relative;
  height: 45%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.854);
  margin-top: auto;
  box-shadow: 0 0 5px grey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
section > a {
  background-color: rgba(11, 170, 117, 0.863);
  text-decoration: none;
  color: #fff;
  padding: 10px 80px;
  margin-left: 54px;
  border-radius: 5px;
}
.bi {
  position: absolute;
  color: rgb(255, 255, 255);
  top: -150px;
  left: 9px;
  background-color: rgba(8, 173, 118, 0.863);
  width: 30px;
  height: 30px;
  border-radius: 2px;
}
.bi-1 {
  position: absolute;
  color: rgb(255, 255, 255);
  top: -110px;
  left: 9px;
  background-color: rgba(62, 66, 65, 0.863);
  width: 30px;
  height: 30px;
  border-radius: 2px;
}

.hover:hover {
  opacity: 1;
}
