/* first part*/
.upflex {
  width: 80em;
  height: 20em;
  display: flex;
  justify-content: flex-end;
  margin: 7em auto;
  margin-bottom: 1em;
  background: rgb(0, 36, 31);
  background: linear-gradient(
    248deg,
    rgba(0, 36, 31, 1) 0%,
    rgba(244, 33, 177, 1) 0%,
    rgba(156, 54, 150, 1) 32%,
    rgba(70, 172, 208, 1) 70%,
    rgba(13, 133, 157, 1) 100%
  );
}

.uptext {
  width: 40em;
  text-align: center;
  padding: 2em;
  color: rgba(255, 250, 250, 0.849);
}
.uptext p {
  width: 44em;
  font-family: "IBM Plex Serif", serif;
  font-family: "Poppins", sans-serif;
}
.midtext {
  width: 8.2em;
  padding: 0.2em 0 0.2em 0.5em;
  margin: 1em 1em 0 0;
  border-radius: 0.8em;
  background-color: rgb(230, 26, 87);
}

.uptext h1 {
  margin-left: 2em;
  font-family: "Balsamiq Sans", cursive;
  font-size: 2.5em;
  color: rgba(255, 255, 255, 0.925);
}
a {
  text-decoration: none;
  color: rgba(255, 250, 250, 0.849);
  font-family: "IBM Plex Serif", serif;
  font-family: "Poppins", sans-serif;
  font-size: 0.85em;
  text-align: center;
}
/*second part*/
h2 {
  font-size: 3em;
  font-family: "Righteous", cursive;
  width: 9em;
  text-align: center;
  margin: 15em auto;
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.849);
}

section {
  width: 60em;
  height: 40em;
  display: flex;
  margin: 7em auto;
}
.flex-col {
  display: flex;
  flex-direction: column;
  width: 12em;
  margin: 0.1em;
}
.big-img {
  height: 15em;
  width: 12em;
  margin: 0.1em;
}
.small-img {
  height: 10em;
  width: 12em;
  margin: 0.1em;
}

/*fourth part*/
h3 {
  font-size: 3em;
  font-family: "Righteous", cursive;
  width: 14em;
  margin: 0 auto;
  margin-top: 0.6em;
  color: rgba(0, 0, 0, 0.849);
}
h3 > span {
  margin-left: 1.8em;
}

li {
  list-style: none;
  display: inline;
  margin-left: 3em;
}
ul {
  width: 45em;
  margin: 5em auto;
  margin-top: 3em;
}
li a {
  color: rgb(55, 99, 124);
  border: 0.1em solid rgb(13, 159, 243);
  border-radius: 1.7em;
  padding: 0.3em 1em 0.3em 1em;
}

.bcol {
  background-color: rgb(13, 159, 243);
  text-transform: uppercase;
  padding: 0.3em 1.7em 0.3em 1.7em;
  color: black;
  font-family: "IBM Plex Serif", serif;
  font-family: "Poppins", sans-serif;
}

.botimg {
  margin-bottom: 5em;
  display: flex;
  justify-content: center;
}

.botflex img {
  width: 170px;
  height: 120px;
  margin-top: 2em;
  margin-left: 2em;
  box-shadow: rgb(146, 141, 141) 0 0 10px;
}
