* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  border-collapse: collapse;
  display: inline-block;
  padding: 2px 10px;
  text-transform: capitalize;
  width: 110px;
  cursor: pointer;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.images {
  display: flex;
  width: 80%;
  margin: 30px auto;
  /* justify-content: center; */
  flex-wrap: wrap;
}

.images img {
  width: 300px;
  object-fit: cover;
  height: 200px;
  display: inline-block;
  margin: 3px;
  border-radius: 4px;
}

/* .audi,
.bmw,
.mercedes {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: 300px;
  justify-content: center;
} */

h1 {
  margin-bottom: 30px;
}
