* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  display: inline-block;
  padding: 4px 10px;
  text-transform: capitalize;
  width: 110px;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 2.5px grey;
  background-color: rgb(214, 218, 221);
  color: rgb(60, 86, 121);
  outline: none;
  border-radius: 2px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgb(76, 129, 129);
  color: white;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.images {
  display: flex;
  width: 80%;
  margin: 30px auto;
  /* justify-content: center; */
  flex-wrap: wrap;
}

.images img {
  width: 300px;
  object-fit: cover;
  height: 200px;
  display: inline-block;
  margin: 3px;
  border-radius: 4px;
}

/* .audi,
.bmw,
.mercedes {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: 300px;
  justify-content: center;
} */

h1 {
  margin-bottom: 30px;
}
