.georgia {
  border: 0.1em solid rgba(165, 161, 161, 0.726);
  background-color: rgb(245, 242, 239);
  padding: 1em;
  width: 286px;
}

img {
  height: 180x;
  width: 286px;
}

h3 {
  font-family: Georgia;
  font-weight: 553;
  color: rgba(0, 0, 0, 0.897);
}
a {
  text-decoration: none;
  color: rgb(250, 255, 255);
  background-color: #525fcd;
  border: solid rgba(0, 0, 255, 0);
  border-radius: 0.4em;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  padding: 0.2em;
}
