* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

@font-face {
  font-family: ROBOTO;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: BARLOW;
  src: url(../fonts/Barlow-Regular.ttf);
}

@font-face {
  font-family: RALEWAY;
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: R-BLACK;
  src: url(../fonts/Roboto-Black.ttf);
}

/* header start */
header {
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.11528361344537819) 47%,
      rgba(0, 0, 0, 0.8099614845938375) 92%
    ),
    url(../img/header-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 675px; */
  padding-bottom: 145px;
  max-height: 100%;
}

.cont-info {
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
}

.info a {
  font-size: 11px;
  color: #fefefe;
  font-weight: 600;
  font-family: BARLOW;
}

.social i {
  margin-left: 10px;
}

.social a {
  color: white;
}

.info-line {
  margin: 0 11px;
  color: #1c3729;
}

.nav-logo {
  margin-right: 40px;
  margin-top: 10px;
}

.navbar-nav li {
  margin-left: 20px;
}

.navbar-nav li:first-child {
  margin-left: 0px !important;
}

.nav-item a {
  color: white !important;
  font-size: 16px;
  font-weight: bold;
  font-family: ROBOTO;
  text-transform: uppercase;
}

.navbar-toggler-icon img {
  width: 40px;
  height: 20px;
}

.header-video {
  background-color: rgba(107, 107, 107, 0.267);
  width: fit-content;
  margin: 39px auto;
}

.header-video a {
  color: white;
  text-transform: uppercase;
  font-family: RALEWAY;
  font-weight: bold;
  font-size: 12px;
  padding: 17px 10px 15px 0px;
}
.header-video a:first-child {
  padding-left: 22px;
  font-size: 14px;
}

.header-video a:last-child {
  padding-right: 22px;
}

.booking {
  background-color: #1b192362;
  width: fit-content;
  margin: auto;
  padding: 16px 40px 52px 40px;
  margin-top: 105px;
}

.booking span {
  color: white;
  font-family: ROBOTO;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 14px;
  display: inline-block;
}

.input-sel,
.booking-btn {
  width: 164px;
  padding: 10px;
  border: none;
  outline: none;
  margin-right: 1px;
  text-transform: uppercase;
  font-size: 14px;
}

option.space {
  font-size: 14px;
  color: #1e2f23;
  font-family: ROBOTO;
}

.check-in {
  width: 165px;
  height: 40px;
}
.check-in i {
  position: relative;
  right: -140px;
  top: -32px;
}

.booking-btn {
  background-color: #1c3729;
  color: white;
  text-transform: uppercase;
  font-family: ROBOTO;
}

::placeholder {
  text-transform: uppercase;
  font-size: 14px;
  color: #1c3729;
}

/* header end */

/* order section start */

.order-cont {
  justify-content: space-between;
}

.takeawey {
  background-color: #1c1b24;
  border-radius: 22px;
  margin-top: 40px;
  margin-bottom: 65px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 15px 19px;
  width: 374px;
  max-width: 100%;
  overflow: hidden !important;
  position: relative;
}

.takeawey-title {
  font-size: 24px;
  color: GREY;
  font-family: ROBOTO;
  text-transform: uppercase;
  padding-top: 40px;
  margin-left: 33px;
}

.takeawey a {
  display: inline-block;
  color: white;
  font-size: 12px;
  font-family: ROBOTO;
  background-color: #f36801;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 6px 45px;
  margin-top: 75px;
  margin-left: 36px;
  position: relative;
  z-index: 2;
}
.takeawey img {
  margin-bottom: 22px;
  margin-left: 60px;
  position: relative;
  z-index: 2;
}

.delivery-img {
  margin-left: 29px !important;
  margin-bottom: 0 !important;
}

.delivery-link {
  background-color: #45b175 !important;
}

.book-room {
  background-color: #b741c9 !important;
}

.elipse-1 {
  width: 502px;
  height: 309px;
  fill: #232235;
  transform: rotate(170deg);
  position: absolute;
  left: 57px;
  top: 61px;
  z-index: 1;
}

.food-menu-links {
  margin-bottom: 65px;
}

.food-menu-links a {
  font-family: ROBOTO;
  font-size: 16px;
  color: #353643;
  font-weight: bold;
  border: solid 1px #353643;
  border-radius: 21px;
  width: 140px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0 8px 0;
  margin-left: 30px;
}

.food-menu-links a:first-child {
  margin-left: 3px !important;
}

.food-menu-links a:hover {
  background-color: #d1fff9;
  border: none;
}

.food-menu-options {
  border-left: dashed 1px grey;
  border-bottom: dashed 1px grey;
  border-radius: 10px;
  padding-left: 60px;
}

.menu-options-number {
  width: 0px;
  height: 0;
}

.rounded-number {
  border-radius: 50%;
  background-color: #f36801;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  font-family: ROBOTO;
  font-weight: bold;
  padding-top: 3px;
  position: relative;
  left: -86px;
}

.menu-options-title {
  width: 99%;
}
.menu-price {
  text-align: end;
}

.menu-price span {
  font-size: 16px;
  font-family: ROBOTO;
  color: #38415f;
}
.menu-options-title a {
  font-size: 18px;
  color: #38415f;
  font-weight: bold;
  font-family: ROBOTO;

  display: inline-block;
}

.menu-options-descr {
  font-size: 12px;
  font-family: ROBOTO;
  color: #38415f;
  width: 80%;
  margin-bottom: 10px !important;
}

.hotel-cont,
.hotel-card-price,
.menu-options-side {
  justify-content: space-between;
}

.our-hotels h1 {
  margin-top: 80px;
  font-size: 30px;
  color: #000000;
  font-family: ROBOTO;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0px !important;
}

.hot-card-content {
  margin: 0 15px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  padding: 13px;
  top: -27px;
  box-shadow: rgba(209, 252, 239, 0.7) 7.069px 33.257px 28.5px;
}

.hotel-card-price {
  align-items: center;
  margin-bottom: 10px;
}

.hotels-card {
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 65px;
  /*  */
  width: 374px;
  max-width: 100%;
  padding: 0 !important;
}

.hotels-card img {
  max-width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.hotel-card-title {
  font-size: 16px;
  font-family: ROBOTO;
  color: #000000;
  font-weight: bold;
}

.hotel-price {
  font-size: 14px;
  color: #596182 !important;
  font-family: ROBOTO;
}

.hotel-booknow-btn {
  font-size: 10px;
  font-family: ROBOTO;
  color: white !important;
  background-color: #3d63f9;
  border-radius: 4px;
  padding: 8px 31px 6px 30px;
}

.room-options-inner h6 {
  color: #3c64f8;
  font-size: 11px !important;
  font-weight: 900;
  font-family: R-BLACK;
  margin-bottom: 0px !important;
}

.room-options-inner a:last-child {
  color: #3d64f9 !important;
  font-size: 12px !important;
  font-family: ROBOTO;
}

.seperator {
  border-left: 1px solid #3d63f95e;
  height: 23px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 11px;
}

.galery {
  margin-top: 60px;
  margin-bottom: 185px;
}

.gal-img-2,
.gal-img-1 {
  padding: 0px !important;
}

.gal-img-1 img {
  width: 100%;
  height: 338px;
  max-height: 100%;
  object-fit: cover;
}

.gal-img-2 img {
  width: 100%;
  height: 338px;
  max-height: 100%;
  object-fit: cover;
}

.gal-img-up img {
  width: 100%;
  height: 418px;
  object-fit: cover;
}

.gal-img-down img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.about-us {
  background-color: #1c3729;
  padding-bottom: 40px;
}

.about-us a {
  color: white;
  text-transform: uppercase;
  display: block;
}

.about-us p {
  font-size: 16px;
  color: #ffffff;
  font-family: ROBOTO;
}

.footer-cont-links {
  padding-left: 40px;
}

.footer-cont a {
  margin-left: 14px;
}

.footer-cont a:first-child {
  font-size: 24px !important;
  font-family: ROBOTO !important;
  margin-bottom: 30px !important;
  margin-left: 0px !important;
  padding-top: 80px !important;
}

.footer-cont img {
  width: 100%;
}

/* order page start */
.order-page-header {
  background-position: top !important;
  padding-bottom: 0px;
  margin-bottom: 35px;
}

.order-header-title {
  color: white !important;
  display: block;
  text-align: center;
  font-size: 30px;
  font-family: ROBOTO;
  font-weight: bold;
  margin-top: 23px;
}

.order-direction {
  text-align: center;
  padding-bottom: 23px;
}

.order-direction a,
.order-direction i {
  font-size: 14px;
  color: white;
  font-family: ROBOTO;
  font-weight: bold;
}

.sort-by {
  font-family: ROBOTO;
  font-size: 15px;
  font-weight: bold;
  margin-right: 18px;
}

.food-picker {
  font-size: 16px;
  border-radius: 22px;
  padding: 7px 80px 7px 30px;
  outline: none;
  border-color: rgba(128, 128, 128, 0.329);
}

.how-many {
  font-size: 16px;
  border-radius: 22px;
  padding: 7px 54px 7px 30px;
  outline: none;
  border-color: rgba(128, 128, 128, 0.329);
}

.show,
.more-filters {
  margin-left: 45px;
  font-family: ROBOTO;
  font-size: 15px;
  font-weight: bold;
  margin-right: 18px;
}

.pick {
  padding-bottom: 18px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.329);
  margin-bottom: 35px;
  align-items: center;
  flex-wrap: wrap;
}

.more-filters {
  border: none;
  outline: none;
  margin-left: auto;
}

.order-page-menu {
  padding-left: 0 !important;
}

.order-page-menu li a {
  color: #666c75;
  text-transform: uppercase;
  font-size: 18px;
  font-family: ROBOTO;
  font-weight: bold;
  display: block;
  width: 60%;
  padding: 18px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.384);
}

.order-page-menu li:hover a {
  background-color: #193527;
  color: rgb(121, 163, 53);
  width: 80%;
}

.order-page-menu li:hover {
  background-color: #193527;
  width: 90%;
}

.order-page-menu li {
  margin-right: 10px;
  padding-left: 30px;
}

.order-page-menu li a i {
  margin-right: 10px;
}

.order-page-card {
  border-radius: 2px;
  background-color: #193527;
  padding: 30px;
  text-align: center;
  margin-bottom: 35px;
}

.order-card-title h1 {
  color: #fed348 !important;
  font-size: 24px;
  font-weight: 500;
  font-family: ROBOTO;
  margin-top: 25px;
}

.order-card-description P {
  font-size: 10px;
  color: #fed348;
  font-weight: 700;
  font-family: ROBOTO;
}

.order-card-price {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #fed348;
  padding-top: 23px;
  margin: auto;
  color: #193527 !important;
  font-size: 24px;
  font-family: ROBOTO;
  font-weight: bold;
  padding-right: 7px;
  margin-bottom: 22px;
}

.order-card-price span {
  font-size: 14px;
  display: inline-block;
  position: relative;
  top: -10px;
  left: 3px;
}

.order-card-btn {
  font-size: 12px;
  color: #193527 !important;
  font-family: ROBOTO;
  background-color: white;
  font-weight: bold;
  border-radius: 2px;
  padding: 8px 22px;
}

.order-card-btn i {
  margin-right: 10px;
}

/*  */

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1210px;
  }
}

@media (max-width: 1200px) {
  .sec-gallery {
    display: none;
  }
}

@media (max-width: 991px) {
  .booking-form {
    flex-wrap: wrap;
  }

  .input-sel,
  .booking-btn {
    margin-top: 2px;
    width: 100%;
    margin-right: 0px;
  }

  .check-in {
    height: 43px;
    width: 100%;
  }

  .check-in i {
    display: none;
  }

  .navbar-nav li:first-child {
    margin-left: 20px !important;
  }

  .navbar-collapse {
    background-color: #1b192362;
    border-radius: 4px;
  }

  .order-cont,
  .hotel-cont {
    justify-content: space-around;
    padding: 0 10px;
  }

  .takeawey {
    margin-top: 35px;
    margin-bottom: 0px;
  }

  .food-menu-links a {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .food-menu-links a:first-child {
    margin-left: 30px !important;
  }

  .pick {
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.329);
    margin-bottom: 35px;
    /* align-items: center;
    flex-wrap: wrap; */
    flex-direction: column;
    align-items: flex-start;
  }

  .show,
  .sort-by {
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .order-page-content {
    margin: auto !important;
  }

  .order-page-menu li a {
    width: 100%;
    text-align: center;
  }

  .order-page-menu li:hover a {
    background-color: #193527;
    color: rgb(121, 163, 53);
    width: 100%;
  }

  .order-page-menu li:hover {
    background-color: #193527;
    width: 100%;
  }
}
