@font-face {
  font-family: DISPLAY-REGULAR;
  src: url(../fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: DISPLAY-BOLD;
  src: url(../fonts/PlayfairDisplay-Bold.ttf);
}

@font-face {
  font-family: SINTONY-REGULAR;
  src: url(../fonts/Sintony-Regular.ttf);
}

@font-face {
  font-family: SINTONY-BOLD;
  src: url(../fonts/Sintony-Bold.ttf);
}

:root {
  --orange: #fea100;
  --black: #14141d;
  --grey: #5c6369;
}

* {
  text-decoration: none !important;
  list-style: none !important;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

/* nav bar start */
.menu__list {
  display: flex;
  align-items: center;
}

.header-logo {
  padding-top: 16px;
  padding-bottom: 14px;
  margin-right: 77px;
}

.nav-item a {
  font-family: SINTONY-BOLD;
  font-size: 14px;
  color: #2c465a !important;
  margin-left: 14px;
  margin-top: 3px;
}

.dropdown a {
  display: inline-block;
  position: relative;
}

.dropdown-toggle::before {
  content: "3";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: #fff;
  background-color: #fe4c8d;
  position: absolute;
  font-size: 11px;
  text-align: center;
  right: 16px;
  top: 2px;
}

.booking-btn {
  background-color: var(--orange);
  border-radius: 4px;
  padding: 0px 3px 3px 3px;
  margin-left: 23px;
  text-align: center;
}

.booking-btn img {
  margin-right: 9px;
  padding-top: 1px;
  padding-bottom: 2px;
}

.booking-btn a {
  border: solid 1px white;
  margin-left: 0;
}

/* nav bar end */

/* carousel start */

.food-option-1 {
  background-image: url(../img/jonathan-borba-8l8Yl2ruUsg-unsplash.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 570px;
}

.food-option-2 {
  background-image: url(../img/lidye-1Shk_PkNkNw-unsplash.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 570px;
}

.food-option-3 {
  background-image: url(../img/louis-hansel-4FY6xU05qaQ-unsplash.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 570px;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: transparent;
  background-clip: padding-box;
  border: solid 2px #fff;
  margin-bottom: 5px;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

button.active {
  position: relative;
  border: solid 2px #fea100 !important;
}

button.active::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fea100;
  position: absolute;
  bottom: 0.282em;
  left: 0.28em;
  transform: translate(0.4px);
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 50%;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 0px;
  margin-left: 15px;
  list-style: none;
}

.carousel-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.carousel-text h1 {
  font-size: 56px;
  font-family: DISPLAY-BOLD;
  color: #fff;
  margin-bottom: 0;
}

.carousel-text p {
  font-size: 40px;
  font-family: DISPLAY-BOLD;
  color: #fff;
  margin-bottom: 70px;
}

.carousel-text p span {
  color: var(--orange);
}

/* carousel end */

/* sub header start */

.violet {
  position: relative;
  left: 0;
  bottom: 125px;
  z-index: 2;
}

.violet-circle {
  position: relative;
  bottom: 368px;
  left: 60px;
  z-index: 3;
}

.food-icon {
  position: relative;
  bottom: 434px;
  left: 79px;
  z-index: 4;
}

.violet-line {
  position: relative;
  bottom: 461px;
  left: 8px;
  z-index: 2;
}

.violet-text {
  position: relative;
  bottom: 584px;
  left: 52px;
  z-index: 2;
}

.explore-icon {
  max-height: 10px;
  max-width: 10px;
}

.sub-header {
  background-color: #edf1f3 !important;
  border-bottom: 1px solid #dde3e7;
}

.sub-header-left-cont {
  padding-top: 28px;
  padding-bottom: 25px;
}

.sub-header-right-cont {
  border-left: solid 1px #dde3e7;
  padding-top: 5px;
  padding-top: 29px;
}
.sub-header-icon {
  padding-top: 5px;
  margin-left: auto;
}

.review-text {
  margin-left: 14px;
  margin-right: 16px;
  padding-top: 2px;
}

.review-text a:first-child {
  font-family: SINTONY-BOLD;
  font-size: 14px;
  color: var(--black);
}

.review-text a:last-child {
  font-family: SINTONY-BOLD;
  font-size: 16px;
  color: var(--orange);
}

.sub-header-icon-2 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 37px;
}

.sub-header-icon-2 img {
  border: 1px solid white;
  border-radius: 50%;
  padding: 12px 14px;
}

.phone-icon {
  margin-left: 37px;
}

.call-us-text span:first-child {
  font-family: SINTONY-BOLD;
  font-size: 14px;
  color: var(--black);
}

.call-us-text {
  padding-right: 25px;
  margin-left: 19px;
}

.call-us-text span:last-child {
  font-family: SINTONY-BOLD;
  font-size: 16px;
  color: var(--orange);
}

.call-us-number img {
  padding-bottom: 10px;
}

.call-us-number a {
  display: inline-block;
  font-size: 32px;
  color: var(--black);
  font-family: DISPLAY-BOLD;

  padding-left: 22px;
  border-left: 1px solid #dde3e7;
}

/* sub header end */

/* about restaurant start */

.about-head h1 {
  font-family: DISPLAY-BOLD;
  font-size: 35px;
  color: var(--black);
  margin-bottom: 28px;
  margin-top: 115px;
}

.about-head p {
  font-family: SINTONY-REGULAR;
  font-size: 14px;
  color: var(--grey);
  margin-bottom: 46px;
  padding-right: 20px;
}

.about-head a {
  font-family: SINTONY-BOLD;
  font-size: 14px;
  color: #fff;
  background-color: var(--orange);
  padding: 16px 33px 14px 33px;
  border-radius: 4px;
}

.award-logo {
  display: inline-block;
  margin-left: 50px;
}

.award-logo img {
  width: 100%;
  max-width: 236px;
}

.restaurant-img {
  width: 100%;
  height: 100%;
  max-width: 270px;
  max-height: 150px;
}
.restaurant-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.restaurant-gallery {
  padding-top: 115px;
  margin-bottom: 100px;
}

.restaurant-gallery-2 {
  padding-top: 65px;
}

/* about restaurant end */

/* food menu carousel start */

.right-corner {
  position: absolute;
  justify-content: flex-end;
  right: 0px !important;
  top: 175px !important;
  z-index: 2;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-right: 0;
  margin-bottom: 0px;
  margin-left: 15px;
  list-style: none;
}

.food-menu-carousel {
  background-image: url(../img/__background.png);
  background-size: 100% 440px;
  background-repeat: no-repeat;
  background-position: top;
}

.today-special {
  margin-top: 158px;
  font-family: DISPLAY-BOLD;
  font-size: 35px;
  color: #fff;
  margin-bottom: 26px;
}

.food-menu-card {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 24px 19px;
}

.menu-card img {
  width: 569px;
  height: 420px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.right-side-img img {
  position: absolute;
  right: -130px;
  bottom: -107px;
  z-index: -1;
  width: auto;
  max-width: 311px;
  height: 100%;
  max-height: 311px;
  object-fit: cover;
}

.food-menu-card-cont {
  padding: 50px;
  padding-bottom: 30px;
  background-color: #fff;
  margin-bottom: 22px;
}
.food-menu-card-cont h1 {
  font-family: DISPLAY-BOLD;
  font-size: 26px;
  color: var(--black);
  margin-bottom: 22px;
}

.food-menu-card-cont p {
  font-family: SINTONY-REGULAR;
  font-size: 14px;
  color: var(--grey);
}

.menu-delivary .delivery {
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px #e1e1e1;
  margin-top: 60px;
  padding-top: 18px;
}

.delivery-number {
  border-left: 1px solid #e1e1e1;
}

.delivery-number img {
  padding: 10px 0 10px 20px;
}

.delivery-text a {
  display: inline-block;
  text-transform: uppercase;
  text-align: start;
  font-family: SINTONY-BOLD;
  font-size: 13px;
}

.delivery-text a:first-child {
  color: var(--black);
}

.delivery-text a:last-child {
  color: #fe4c8d;
}

/* food menu carousel end */

/* food-menu-section start */

.food-menu-section-title {
  margin-top: 70px;
  font-size: 35px;
  font-family: DISPLAY-BOLD;
  color: var(--black);
  margin-bottom: 30px;
}

.food-menu-section ul {
  border-bottom: dashed 1px #e1e1e1;
}

.food-menu-section li a {
  display: block;
  text-align: center;
}

.food-menu-section li {
  margin-left: 50px;
  padding-bottom: 17px;
}

.food-menu-section ul li:last-child {
  margin-right: 100px;
}

.food-menu-section li a:last-child {
  font-family: DISPLAY-BOLD;
  font-size: 20px;
  color: var(--black);
}

.section-left-menu-text {
  padding-bottom: 21px;
  padding-top: 25px;
}

.section-left-menu-text a:first-child {
  font-size: 16px;
  color: var(--black);
  font-family: SINTONY-BOLD;
}

.section-left-menu-text a:last-child {
  font-size: 14px;
  color: var(--grey);
  font-family: SINTONY-REGULAR;
}

.sec-menu-price {
  padding-top: 25px;
  margin-right: 40px;
}

.food-menu-section-btn {
  margin-top: 25px;
}

.food-menu-section-btn a {
  color: #fff;
  padding: 14px 30px;
  background-color: var(--orange);
  border-radius: 4px;
  font-family: SINTONY-BOLD;
}

.img-241x241 {
  position: relative;
  height: 100px;
}

.img-241x241 img {
  position: absolute;
  right: 35px;
  top: -62px;
}

.left-side-img {
  height: 0px;
}

.left-side-img img {
  position: relative;
  left: 0;
  top: -154px;
}

/* food-menu-section end */

/* bottom-carousel start */

.bottom-carousel {
  height: 465px;
  max-height: 100%;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
}

.reviwer-img {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  object-fit: cover;
}

.bi-chevron-right,
.bi-chevron-left {
  height: 50px;
  color: white;
}

.carousel-control-next {
  position: absolute;
  justify-content: flex-end !important;
}

.carousel-control-prev {
  justify-content: flex-start !important;
}

.bottom-carousel-inner {
  height: 465px !important;
  max-height: 100% !important;
}

.bottom-carousel-item h1 {
  margin-top: 100px;
  font-size: 35px;
  font-family: DISPLAY-BOLD;
}

.bottom-carousel-item p {
  margin-top: 25px !important;
  margin-bottom: 15px !important;
  font-size: 15px;
  font-family: SINTONY-REGULAR !important;
  font-weight: 400 !important;
}

.bottom-carousel-item a {
  margin-top: 15px !important;
  font-size: 16px;
  font-family: SINTONY-BOLD !important;
}

/* bottom carousel end */

/* reserve-section start */

.reserve-section {
  margin-bottom: 100px;
}

.reserve-section-img {
  display: flex;
  justify-content: center;
}

.reserve-section-img img {
  width: 100%;
  max-width: 559px;
}

.reserve-title {
  font-size: 35px;
  font-family: DISPLAY-BOLD;
  color: var(--black);
  margin-top: 90px;
  margin-bottom: 30px;
}

.reserve-form input {
  border: none;
  outline: none;
}
.reserve-form i {
  display: inline-block;
  font-size: 18px;
  color: #363d43;
}

.reserve-intput {
  border-bottom: 1px solid #c7d1d6;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.reserv-call {
  margin-top: 45px;
}
.reserv-call a {
  color: #fff;
}
.reserv-btn {
  padding: 20px 31px 20px 31px;

  font-size: 14px;
  font-family: SINTONY-BOLD;
  background-color: var(--orange);
  border-radius: 4px;
}

.reserv-text {
  margin-top: 10px;
}

.reserv-text a {
  display: block;
  font-size: 13px;
  font-family: SINTONY-BOLD;
  text-transform: uppercase;
}

.reserv-text a:first-child {
  color: var(--black);
}

.reserv-text a:last-child {
  color: #fe4c8d;
}

.reserv-num {
  border-left: 1px solid #c7d1d6;
  margin-top: 10px;
}

.reserv-num img {
  padding: 10px 0px 10px 8px;
  width: 100%;
}
/* reserve-section end */

/* footer srart */

footer {
  background-color: #373844;
}

.footer-cont {
  padding-top: 97px;
  padding-bottom: 80px;
}

.footer-cont h1 {
  font-size: 24px;
  font-family: DISPLAY-BOLD;
  margin-bottom: 27px;
  color: #fff;
}

.footer-cont li a {
  font-size: 14px;
  font-family: SINTONY-REGULAR;
  color: #adb2b7;
}

.footer-subscribe p {
  font-size: 14px;
  color: #adb2b7;
  font-family: SINTONY-REGULAR;
}

.footer-subscribe a {
  font-size: 14px;
  color: #fff;
  font-family: SINTONY-REGULAR;
  padding: 18px 30px 15px 30px;
  background-color: var(--orange);
  border-radius: 4px;
}

.subscribe {
  border: 2px solid #52535e;
  border-radius: 4px;
}

.subscribe i {
  color: var(--orange);
  font-size: 14px;
  margin-left: 16px;
}

.subscribe input {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 13px 0px 13px 13px;
}

.app-img img {
  width: 100%;
}

/* footer end */

/* media queri */

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1194px;
  }
}

@media (max-width: 1100px) {
  .header-logo {
    margin-right: 28px;
  }
}

@media (max-width: 991px) {
  .sub-header-right-cont {
    border-left: none;
  }

  .img-241x241 {
    display: none;
  }

  .right-side-img {
    display: none;
  }

  .left-side-img {
    display: none;
  }

  .food-menu-section-btn {
    margin-bottom: 20px;
  }

  .food-menu-carousel-half-slide {
    display: none;
  }
  .delivery-number {
    border-left: none;
    margin-right: 5px;
  }
  .delivery-number img {
    width: 100%;
    padding: 15px 0 10px 5px;
    margin-right: 5px;
  }

  .delivery-price img {
    width: 100%;
    padding-top: 0 !important;
  }

  .food-menu-card-cont {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .restaurant-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 30px;
  }

  .restaurant-gallery-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 8px;
    margin-bottom: 20px;
  }

  .reserve-col-row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .reserv-btn-div {
    display: flex;
    justify-content: center;
  }

  .reserv-text {
    margin: 15px 0;
    padding: 0;
  }
  .reserv-col-3 {
    margin: 15px 0;
  }

  .reserv-num {
    border-left: none;
    margin-top: 10px;
  }

  .food-menu-section li {
    margin-left: 10px !important;
    width: 79px !important;
  }
}

@media (max-width: 575px) {
  .phone-icon {
    margin-left: 0px;
  }

  .subscribe {
    display: block !important;
    margin-bottom: 10px;
  }

  .subscribe i {
    display: none;
  }

  .about-btn-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .award-logo {
    margin-top: 30px;
    margin-left: 0px;
  }
  .bottom-carousel-item h1 {
    margin-top: 0px;
  }
}
