* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
body {
  width: 1300px;
  max-width: 100%;
  margin: auto;
  box-shadow: 0 0 2px grey;
  font-family: sans-serif;
}
header {
  background: linear-gradient(
      rgba(121, 120, 120, 0.459),
      rgba(121, 120, 120, 0.459)
    ),
    url("https://images.unsplash.com/photo-1437419764061-2473afe69fc2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0 5px white;
}

.bi {
  font-size: 25px;
  color: white;
}
.header-body {
  color: white;
}
.header-body-first-sec {
  display: flex;
  align-items: center;
  padding: 20px 120px;
}
.header-body-first-sec ul {
  margin-left: auto;
  padding: 0;
}
.header-body-first-sec a {
  display: inline-block;
  text-decoration: none;
  color: white;
}
.header-body-first-sec li {
  display: inline-block;
  margin-left: 10px;
}
.sign-in {
  padding: 10px 30px;
  border-radius: 5px;
  border: solid 2px rgb(255, 174, 0);
}
.header-text {
  width: 60%;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}
.header-text p:first-child {
  font-size: 30px;
  padding-bottom: 10px;
  font-family: "Righteous", cursive;
}
.header-text p:last-child {
  width: 80%;
  margin: auto;
}
section {
  display: flex;
  justify-content: center;
  padding: 20px;
}

form {
  width: 40%;
}

.padd {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-3 {
  width: 50%;
  padding: 10px 15px 10px 0;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  box-shadow: 0 0 3px grey;
}

select {
  width: 100%;
  border: none;
  box-shadow: 0 0 3px grey;
  color: grey;
  padding: 10px;
}

.text-area {
  width: 100%;
  padding: 10px 15px 10px 0;
}

textarea {
  width: 100%;
  border: none;
  box-shadow: 0 0 3px grey;
  padding: 10px;
}

button {
  border: none;
  background-color: rgb(255, 166, 0);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.right-sec {
  padding: 10px;
  width: 40%;
}

.right-sec-link {
  display: flex;
}

.right-sec-link a {
  display: inline-block;
  padding: 10px 20px;
  box-shadow: 0 0 3px grey;
  width: 50%;
  color: grey;
}
.right-sec-link a:focus {
  background-color: rgb(0, 162, 255);
  color: white;
}

.right-sec-text h3 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.right-sec-text ul {
  padding-top: 50px;
}

.right-sec-text li {
  display: inline-block;
  margin-left: 10px;
}
.right-sec-text li a {
  color: black;
}

.bi-3 {
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
}
.bi-github {
  font-size: 30px;
}
.bi-twitter {
  color: white;
  background-color: rgb(0, 162, 255);
}
.hover:hover {
  transform: scale(1.3);
}
.rotate:hover {
  transform: rotate(90deg);
}
footer {
  display: flex;
  align-items: center;
  padding: 10px 30px;
}
h5 {
  color: grey;
}

footer ul {
  margin-left: auto;
}

footer li {
  display: inline-block;
  margin-left: 10px;
}

footer li a {
  color: grey;
  display: inline-block;
}

@media (max-width: 800px) {
  .header-body-first-sec {
    padding: 20px 20px;
  }
  section {
    flex-wrap: wrap;
  }
  form {
    width: 100%;
  }
  .right-sec {
    width: 100%;
  }
}
@media (max-width: 366px) {
  .header-body-first-sec li:first-child {
    display: none;
  }
  .header-body-first-sec li:nth-child(2) {
    display: none;
  }
}
